.banner
	margin-bottom 47px
	color _white
	background linear-gradient(91.79deg, #1DBCD1 16.94%, #3DDCF1 83.14%)
	.wrap
		df()
		aic()
		jcsb()
	&__text
		max-width 580px
		font-size 18px
		line-height 1.5
		p
			margin 0
	.title
		margin 0 0 20px
		font-weight 600
		font-size 42px
		line-height 1.26
	&__img
		align-self flex-end
		margin-right 132px
		img
			db()

@media(max-width: 480px)
	.banner
		margin-bottom 68px
		padding-top 41px
		.wrap
			fdc()
		&__text
			margin-bottom 52px
			tac()
			p
				max-width 320px
				font-size 15px
				line-height 22px
				margin-left auto
				margin-right auto
		.title
			margin-bottom 12px
			font-size 28px
			line-height 36px
		&__img
			order 3
			align-self center
			max-width 273px
			margin 37px 0 0 -47px
			img
				width 100%
				height auto