.footer
	background-color _white
	color #7E838C
	&__top
		df()
		jcsb()
		padding 50px 0 53px
		border-bottom 1px solid rgba(217, 218, 225, 0.8);
	.logo
		margin-bottom 57px
	a
		tdn()
	&__phone
	&__mail
		dif()
		aic()
		margin-bottom 10px
		font-size 18px
		line-height 20px
		font-weight 600
		color _dark
		tdn()
		.icon
			margin-right 13px
			margin-top 1px
	&__mail
		margin-bottom 60px
	.work_time
		margin-bottom 61px
		font-size 16px
		line-height .8
	.social
		&__title
			margin-bottom 20px
			font-weight 500
			font-size 18px
			line-height 20px
			color _dark
		&__links
			df()
			fww()
			aic()
		a
			margin-right 15px
			&:hover
			&:focus
				svg
					*
						fill _accent
	&__col
		.title
			margin-bottom 33px
			font-size 18px
			line-height 23px
			color _dark
		ul
			margin 0
			padding 0
			list-style none
			li
				+ li
					margin-top 13.8px

	&__links
		margin-top 8px
	&__links
	&__bottom
		a
			por()
			dib()
			&:after
				underline()
				bottom 1px
				background-color #7E838C
			&:hover
			&:focus
				&:after
					underline_active()
	&__bottom
		df()
		aic()
		jcsb()
		padding 43px 0 33px
		p
			margin 0
	.dev
		df()
		aic()
		jcc()
		a
			margin-left 15px
			&:after
				content none

@media(min-width: 500px)
	.footer__links + .footer__links
		margin-left 72px

@media(max-width: 480px)
	.footer
		margin-top 120px
		&__top
			padding-top 46px
			fdc()
		.logo
			margin-bottom 38px
		.work_time
			margin-bottom 51px
		&__mail
			margin-bottom 41px
		&__links
			margin-top 43px
		&__col
			&:first-child
				margin-bottom 14px
			.title
				margin-bottom 23px
		&__bottom
			fdc()
			aifs()
			padding-top 61px
			p
				margin-bottom 30px
			a + a
				margin-top 31px
		.dev
			margin-top 57px
			a
				margin-left 18px
				margin-top 3px