_white = #fff
_black = #000
_accent = #38D3E8
_red = #FF6060
_yellow = #FFDC60
_green = #72E191
_grey = #9D9D9D
_violet = #A660FF
_blue = #6070FF
_pink = #FF60AC
_beige = #EEC3AB

_dark = #2B2E34


pof()
	position fixed
pos()
	position static
por()
	position relative
poa()
	position absolute
db()
	display block
dn()
	display none
dib()
	display inline-block
df()
	display flex
dif()
	display inline-flex
jcsb()
	justify-content space-between
jcfs()
	justify-content flex-start
jcfe()
	justify-content flex-end
aic()
	align-items center
jcc()
	justify-content center
aifs()
	align-items flex-start
aife()
	align-items flex-end
jcsa()
	justify-content space-around
fww()
	flex-wrap wrap
fdc()
	flex-direction column
fdcr()
	flex-direction column-reverse
tac()
	text-align center
tdn()
	text-decoration none

underline()
	content ''
	poa()
	left 50%
	db()
	transform translateX(-50%)
	width 0
	height 1px
	opacity 0

underline_active()
	width 100%
	opacity 1