section.banner
	.wrap
		.banner__text
			.title Дозаторы и антисептики
			p Устанавливаются в общественных местах для предотвращения распространения вирусов&nbspмикробов
		.banner__img
			img(src="img/banner/banner_img.png" alt="Дозатор" width="388")
		a(href="#").btn.btn_light.btn_arrows
			span.icon
				include ../svg/ic_btn_arrows.svg
			| Подробнее