section.catalog
	.wrap
		.title.title_L Отопительное оборудование
		.catalog__wrap
			include filter
			.catalog__inner
				.catalog__setup
					button.open_filter.mob_show(type="button")
						.icon
							include ../svg/ic_filter.svg
						span Фильтры
					.product_count
						b 2394
						| товаров
					.sort
						.mob_hide
							| Цена:
							b По возрастанию
						.mob_show
							b Сортировка
						.icon
							include ../svg/ic_drop.svg
				.cards
					+card({
							href: '#',
							image: 'img/products/product1.png',
							title: 'Биметаллический радиатор Royal Thermo Indigo Super',
							price: '13 890',
						})
					+card({
							href: '#',
							image: 'img/products/product2.png',
							title: 'Биметаллический радиатор Royal Thermo Indigo Super',
							price: '13 890',
							oldPrice: '5 890',
							tags: {
								discount: true,
							}
						})
					+card({
							href: '#',
							image: 'img/products/product3.jpg',
							title: 'Радиатор биметаллический Royal Thermo PianoForte Bianco Traffico',
							price: '4 250',
						})
					+card({
							href: '#',
							image: 'img/products/product1.png',
							title: 'Биметаллический радиатор Royal Thermo Indigo Super',
							price: '4 250',
						})
					+card({
							href: '#',
							image: 'img/products/product1.png',
							title: 'Биметаллический радиатор Royal Thermo Indigo Super',
							price: '4 250',
						})
					+card({
							href: '#',
							image: 'img/products/product3.jpg',
							title: 'Радиатор биметаллический Royal Thermo PianoForte Bianco Traffico',
							price: '4 250',
						})
					+card({
							href: '#',
							image: 'img/products/product1.png',
							title: 'Биметаллический радиатор Royal Thermo Indigo Super',
							price: '4 250',
						})
					+card({
							href: '#',
							image: 'img/products/product2.png',
							title: 'Биметаллический радиатор Royal Thermo Indigo Super',
							price: '4 250',
							oldPrice: '5 890',
							tags: {
								discount: true,
							}
						})
					+card({
							href: '#',
							image: 'img/products/product3.jpg',
							title: 'Радиатор биметаллический Royal Thermo PianoForte Bianco Traffico',
							price: '4 250',
						})
					+card({
							href: '#',
							image: 'img/products/product1.png',
							title: 'Биметаллический радиатор Royal Thermo Indigo Super',
							price: '4 250',
						})
					+card({
							href: '#',
							image: 'img/products/product1.png',
							title: 'Биметаллический радиатор Royal Thermo Indigo Super',
							price: '4 250',
						})
					+card({
							href: '#',
							image: 'img/products/product3.jpg',
							title: 'Радиатор биметаллический Royal Thermo PianoForte Bianco Traffico',
							price: '4 250',
						})
					+card({
							href: '#',
							image: 'img/products/product1.png',
							title: 'Биметаллический радиатор Royal Thermo Indigo Super',
							price: '4 250',
						})
					+card({
							href: '#',
							image: 'img/products/product1.png',
							title: 'Биметаллический радиатор Royal Thermo Indigo Super',
							price: '4 250',
						})
					+card({
							href: '#',
							image: 'img/products/product3.jpg',
							title: 'Радиатор биметаллический Royal Thermo PianoForte Bianco Traffico',
							price: '4 250',
						})
				button.view_more.mob_show(type="button") Показать еще