footer.footer
	.wrap
		.footer__top
			.footer__col
				a.logo(href="#")
					img(src="img/logo.svg" alt="ЭКОН УРФО Энергосберегающие технологии" width="275")

				a.footer__phone(href="tel:+74955063650")
					.icon
						include ../svg/ic_phone_footer.svg
					| +7 (495) 506-36-50
				.work_time
					p Пн-Пт: с 08:00 до 19:00
					p Сб-Вс: с 08:00 до 16:00
				a.footer__mail(href="mailto:office@uconerfo.ru")
					.icon
						include ../svg/ic_mail_footer.svg
					| office@uconerfo.ru
				.social
					.social__title Мы в сети
					.social__links
						a(href="#")
							.icon
								include ../svg/ic_vk.svg
						a(href="#")
							.icon
								include ../svg/ic_insta.svg
			.footer__col.footer__links
				.title Категории продукции
				ul
					li
						a(href="#") Трубчатые радиаторы
					li
						a(href="#") Панельные радиаторы
					li
						a(href="#") Полотенцесушители
					li
						a(href="#") Вертикальные радиаторы
					li
						a(href="#") Дизайн радиаторы
					li
						a(href="#") Внутрипольные конвекторы
					li
						a(href="#") Конвекторы водяные
					li
						a(href="#") Водосберегающая сантехника
					li
						a(href="#") Теплый пол
					li
						a(href="#") Чугунные дизайн радиаторы
					li
						a(href="#") Арматура для радиаторов
			.footer__col.footer__links
				.title Категории продукции
				ul
					li
						a(href="#") Трубчатые радиаторы
					li
						a(href="#") Панельные радиаторы
					li
						a(href="#") Полотенцесушители
					li
						a(href="#") Вертикальные радиаторы
					li
						a(href="#") Дизайн радиаторы
					li
						a(href="#") Внутрипольные конвекторы
					li
						a(href="#") Конвекторы водяные
					li
						a(href="#") Водосберегающая сантехника
					li
						a(href="#") Теплый пол
					li
						a(href="#") Чугунные дизайн радиаторы
					li
						a(href="#") Арматура для радиаторов
			.footer__col.footer__links
				.title Информация
				ul
					li
						a(href="#") О компании
					li
						a(href="#") Готовые решения
					li
						a(href="#") Наша продукция
					li
						a(href="#") Цвета
					li
						a(href="#") Сертификаты
					li
						a(href="#") Доставка и оплата
					li
						a(href="#") Контакты
		.footer__bottom
			p Copyright © 2014 - 2020
			a(href="#") Политика конфиденциальности
			a(href="#") Обработка персональной информации
			.dev
				| Разработано
				a(href="#")
					.icon
						include ../svg/ic_dev.svg